canvas {
    padding: 0;
    margin: auto;
    display: block;
    display: block;
    width: 500px;
}

p {
    text-align: center;
}

html,
body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
